{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-console": 0
  }
}
