{
  "extends": "semistandard",
  "env": {
    "mocha": true
  },
  "rules": {
    "callback-return": [2, ["callback", "cb", "next", "done"]],
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "space-before-function-paren": [2, "never"]
  }
}
